fastapi==0.112.0
uvicorn[standard]==0.30.3
SQLAlchemy==2.0.31
psycopg[binary]==3.2.9
python-dotenv==1.0.1
pydantic==2.8.2
pydantic-settings==2.3.4
python-jose==3.3.0
email-validator==2.2.0
requests==2.32.3
bcrypt==3.2.2
passlib[bcrypt]==1.7.4
websockets==12.0
redis>=5.0
setuptools
sendgrid==6.11.0
